.switch-container {
    width: 260px;
    height: 50px;
    background: #blue;
    position: relative;
    cursor: pointer;
  }
  
  .slider {
    width: 130px;
    height: 50px;
    background: #blue-pong-4;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  
  .move-to-register {
    transform: translateX(130px);
  }
  
  .switch-label {
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
  }